In [2]:
#importing libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [8]:
#loading the dataset
df_test = pd.read_csv('../data/test.csv')
df_train = pd.read_csv('../data/train.csv')

In [9]:
df_train.head()

,engine_rpm,lub_oil_pressure,fuel_pressure,coolant_pressure,lub_oil_temp,coolant_temp,engine_condition
0,496,4.706240,5.249898,3.803385,75.033607,70.542095,0
1,836,3.960027,4.928546,3.705357,74.395016,84.098307,1
2,623,3.055244,9.494612,2.084725,76.865701,72.927688,0
3,675,2.785797,5.463947,1.649817,75.397279,82.907453,1
4,1412,2.816022,4.001410,1.921522,83.246013,71.176927,1

In [10]:
df_test.head()

,engine_rpm,lub_oil_pressure,fuel_pressure,coolant_pressure,lub_oil_temp,coolant_temp,engine_condition
0,634,2.611260,10.453517,2.771041,75.863640,79.245834,1
1,856,4.043840,5.829366,2.460446,73.860133,71.047078,1
2,814,4.073486,5.257120,1.866571,81.840070,76.715591,0
3,379,2.724639,4.712955,1.981593,77.092260,76.106727,1
4,868,2.672809,5.273917,1.905387,78.475478,72.088361,0

In [11]:
#checking for duplicates
df_train.duplicated().sum()

#checking for null values
df_train.isnull().sum()

engine_rpm          0
lub_oil_pressure    0
fuel_pressure       0
coolant_pressure    0
lub_oil_temp        0
coolant_temp        0
engine_condition    0
dtype: int64

In [12]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15628 entries, 0 to 15627
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   engine_rpm        15628 non-null  int64
 1   lub_oil_pressure  15628 non-null  float64
 2   fuel_pressure     15628 non-null  float64
 3   coolant_pressure  15628 non-null  float64
 4   lub_oil_temp      15628 non-null  float64
 5   coolant_temp      15628 non-null  float64
 6   engine_condition  15628 non-null  int64
dtypes: float64(5), int64(2)
memory usage: 854.8 KB

In [13]:
df_train.describe()

,engine_rpm,lub_oil_pressure,fuel_pressure,coolant_pressure,lub_oil_temp,coolant_temp,engine_condition
count,15628.000000,15628.000000,15628.000000,15628.000000,15628.000000,15628.000000,15628.000000
mean,792.261710,3.307509,6.651980,2.341039,77.650334,78.432762,0.630535
std,267.342976,1.024962,2.761860,1.040753,3.121914,6.220440,0.482675
min,61.000000,0.003384,0.003187,0.002483,71.321974,62.445955,0.000000
25%,594.000000,2.516444,4.910082,1.603476,75.718594,73.905583,0.000000
50%,748.000000,3.164588,6.194226,2.173164,76.816708,78.340971,1.000000
75%,934.000000,4.061431,7.735893,2.850974,78.077116,82.908178,1.000000
max,2239.000000,7.265566,21.138326,7.478505,89.580796,195.527912,1.000000

In [14]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3907 entries, 0 to 3906
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   engine_rpm        3907 non-null   int64
 1   lub_oil_pressure  3907 non-null   float64
 2   fuel_pressure     3907 non-null   float64
 3   coolant_pressure  3907 non-null   float64
 4   lub_oil_temp      3907 non-null   float64
 5   coolant_temp      3907 non-null   float64
 6   engine_condition  3907 non-null   int64
dtypes: float64(5), int64(2)
memory usage: 213.8 KB

In [15]:
df_test.describe()

,engine_rpm,lub_oil_pressure,fuel_pressure,coolant_pressure,lub_oil_temp,coolant_temp,engine_condition
count,3907.000000,3907.000000,3907.000000,3907.000000,3907.000000,3907.000000,3907.000000
mean,787.149475,3.288839,6.670159,2.312689,77.615762,78.406119,0.630407
std,268.676792,1.008249,2.757966,1.018529,3.067113,6.152428,0.482756
min,107.000000,0.007891,0.012640,0.090247,72.549992,61.673325,0.000000
25%,587.000000,2.523470,4.946578,1.588045,75.747608,73.849375,0.000000
50%,740.000000,3.152336,6.216727,2.135121,76.819168,78.368493,1.000000
75%,934.000000,4.033556,7.799496,2.836914,78.050365,82.944699,1.000000
max,2172.000000,7.051322,19.717281,7.188819,89.241175,95.234554,1.000000